@tailwind base;
@tailwind components;
@tailwind utilities;

.cards {
  /* grid-template-columns: repeat(12, 1fr); */
}

.card {
  grid-column: 3 span;
}

.category-card span {
  transform: translate(-50%);
}

.enroll-modal {
  pointer-events: none;
  position: fixed;
  inset: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: none;
  width: 100%;
  max-width: none;
  justify-content: center;
  align-items: center;
  padding: 0px;
  opacity: 0;
  overscroll-behavior: contain;
  overscroll-behavior: contain;
  z-index: 999;
  background-color: transparent;
  color: inherit;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-property: transform, opacity, visibility;

}

.enroll-modal[open] {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

.enroll-modal__box {
  --tw-scale-x: .9;
  --tw-scale-y: .9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-bottom-right-radius: var(--rounded-box, 1rem);
  border-bottom-left-radius: var(--rounded-box, 1rem);
  border-top-left-radius: var(--rounded-box, 1rem);
  border-top-right-radius : var(--rounded-box, 1rem);
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-bg-opacity)));
  padding: 1.5rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 200ms;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  overflow-y: auto;
  overscroll-behavior: contain;
  min-height: 400px;
  max-width: 750px;
  width: 100%;
}

.drawer-menu li {
  padding: 10px;
  border-radius: 15px;

}

.drawer-menu li a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.drawer-menu li a.active {
  @apply text-accent
}

.drawer-menu li:hover {
  /* background-color: #ccc; */
  --tw-bg-opacity: 1;
  background-color: var(--fallback-n,oklch(var(--n)/var(--tw-bg-opacity)));
  --tw-text-opacity: 1;
  /* color: var(--fallback-nc,oklch(var(--nc)/var(--tw-text-opacity))); */
}


  button, a {
    @apply no-animation
  }
